body{
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    font-family: 'MS UI Gothic';
    background-color: #5590E8;
    overflow: hidden;
}

#animation-container{
    border: 10px solid black;
}

.App{
    height: 100vh;
    width: 100vw;
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

ul {
    list-style-type: none;
}

.file{
    margin: 10px 5px 5px 5px;
}

.file button{
    background-color: transparent;
    font-family: 'MS UI Gothic';
    border: none;
    padding:0;
    width: 70px;
    word-wrap: break-word;
}

.file button img {
    width: 60px;
    height: 60px;
    image-rendering: pixelated;
}

.folder{
    margin: 5px;
}

.folderwindow{
    border: 2px solid blue;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

.linkicon{
    position: relative;
    top: -60px;
    left: 0;
}

.thumbnailwrapper{
    width: 70px;
    height: 70px;
}

.folderbutton{
    text-shadow: 1px 1px 3px black;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 70px;
    word-wrap: break-word;
}

.folderbutton img{
    width: 60px;
    height: 60px;
    image-rendering: pixelated;
}

.screenbutton{
    padding: 0;
    margin: 0;
    border-top: none;
    border-right: 1px solid gray;
    border-bottom: none;
    border-left: 1px solid gray;
    background-color: blue;
    color: white;
    height: 100%;
}
.screenbutton img{
    width: 100%;
    height: 100%;
}

.deletebutton{
    padding: 0;
    border: none;
    background-color: red;
    color: white;
    height: 100%;
}

.deletebutton img{
    width: 100%;
    height: 100%;
}

.window{
    background-color: white;
    border: 2px solid blue;
    box-shadow: 1px 1px 5px black;
}
.thumbnail{
    width: 100%;
    height: 100%;
}

.topframe{
    display:flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height:25px;
    background-color: blue;
    position: fixed;
}

.topframe p{
    margin: 0 0 0 10px;
    color: white;
}

.topframeleft{
    display: flex;
    align-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    margin: auto 10px auto 10px;

}

.topframeleft img{
    height: 20px;
}

.topframeright{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    min-width: 52px;
}

.windowcontent{
    width: calc(100%);
    height: calc(100% - 25px);
    margin-top: 25px;
    cursor: default;
    overflow: hidden;
}

.windowcontent ul{
    height: calc(100% - 21px);
    margin-top: 21px;
    overflow-y: scroll;
    padding: 0;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.windowinnner{
    min-height: 100%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 0 20px;
}

.postcontent{
    margin-top: 25px;
    padding: 0;
    height: 100%;
    overflow: scroll;
    display: flex;
    align-content: flex-start;
    background-color: whitesmoke;
}

.postcontent h1{
    margin: 1em 0px 1em 0px;
    font-size: x-large;

}

.postcontent h2,h3,h4,h5,h6{
    margin: 10px 0px;
    font-size: large;
}


.postcontent img{
    display: block;
    margin: 2em 10px 1em 10px;
    max-width: 90%;
    max-height: 281px;
}

.postcontent ul{
    list-style-type: disc;
    height: auto;
    margin-top: auto;
    overflow: auto;
    padding-left: 1em;
    display: block;
}
.postcontent li{
    padding: 0.5em 0;
}

.windowurl{
    background-color: #EEEAD4;
    position: absolute;
    width: 100%;
    top: 25px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.windowurl p{
margin: 0 5px 0 10px;
}

.windowurl input{
    flex-grow: 1;
    height: 1em;
}

.windowurl img{
    width: 1em;
    margin: 5px;
}

.sharebutton{
    border: none;
    background-color: #EEEAD4;
    box-shadow: 1px 1px 1px gray;
    margin:0px 20px 0px 5px;
    display: flex;
    padding: 2px 0 2px 0;
}

.sharebutton:active{
    box-shadow: -1px -1px 1px gray;
}

.sharebutton p{
    margin-left: 0px;
}

.sharebutton img{
    margin: 0 5px 0 5px;
}

/* .resizeHandle{
    background-color: blue;
    position: fixed !important;
} */



